.Input {
  width: 100%;
  display: block;
  margin: 0.5rem 0;
  border: none;
  border-bottom: 0.0625rem solid #def2f1;
  outline: none;
  color: #17252a;
  transition: all 0.3s;
  background-color: #def2f1;
  padding: 0.5rem;
}

/* Remove Firefox invalid red glow */

.Input:invalid {
  box-shadow: none;
}

.Input:-moz-submit-invalid {
  box-shadow: none;
}

.Input:-moz-ui-invalid {
  box-shadow: none;
}

.Input:focus,
.Input:active {
  border-bottom: 0.0625rem solid #3aafa9;
  box-shadow: 0 0.0625rem 0 0 #3aafa9;
}
