.RecipeCard {
  padding: 0.5rem;
  width: 33.33333%;
  float: left;
}

.RecipeCard .content {
  width: 100%;
  border-radius: 0.25rem;
  border: 0.625rem solid #def2f1;
  box-shadow: 0 0 1rem #2b7a78;
  background-color: #def2f1;
  cursor: pointer;
  position: relative;
}

.RecipeCard .image {
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.RecipeCard h2 {
  text-align: center;
  background-color: #2b7a78;
  width: 100%;
  margin: 0;
  padding: 1rem;
  color: #feffff;
  transition: all 0.1s linear;
  overflow: auto;
  word-wrap: break-word;
  hyphens: auto;
}

.RecipeCard:hover h2 {
  background-color: #def2f1;
  color: #2b7a78;
}

@media (max-width: 48em) {
  .RecipeCard {
    width: 100%;
  }
}
