.RecipeDisplay .row {
  width: 100%;
  padding: 0;
}

.RecipeDisplay .row:after {
  display: table;
  content: '';
  clear: both;
}

.RecipeDisplay .recipe-info {
  padding: 1.17rem 0;
}

.RecipeDisplay h3 {
  margin-top: 0;
}

.RecipeDisplay p {
  white-space: pre-line;
  word-wrap: break-word;
  hyphens: auto;
  margin-bottom: 0;
  margin-right: 1rem;
}

.RecipeDisplay .row div {
  width: 50%;
  float: left;
}

.RecipeDisplay img {
  width: 50%;
  float: right;
  margin: 1.17rem 0;
}

.RecipeDisplay .Button {
  margin-right: 0.5rem;
}

.RecipeDisplay .Button:last-child {
  margin-right: 0;
}

@media (max-width: 48em) {
  .RecipeDisplay img,
  .RecipeDisplay .row div  {
    width: 100%;
    float: none;
  }
  .RecipeDisplay p {
    margin-right: 0;
  }
  .RecipeDisplay .Button {
    margin-top: 1.17rem;
  }
}
