.Button {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #feffff;
  border-radius: 0.25rem;
  transition: background-color 0.1s linear;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: inherit;
}

.Button.default {
  background-color: #3aafa9;
}

.Button.default:hover,
.Button.default:focus,
.Button.default:active {
  background-color: #219690;
}

.Button.danger {
  background-color: #d9534f;
}

.Button.danger:hover,
.Button.danger:focus,
.Button.danger:active {
  background-color: #c9302c;
}
