.RecipeCard {
  background-color: rgb(222, 242, 241);
  width: 30%;
  height: 200px;
  padding: 0.2rem 1rem;
  border-radius: 4px;
  float: left;
  margin: 1%;
  box-shadow: 0 0 1rem #2b7a78;
  cursor: pointer;
}

@media (max-width: 768px) {
  .RecipeCard {
    width: 100%;
    float: none;
    margin: 1rem 0;
  }
}