.RecipeModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #17252a;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.RecipeModal .container {
  background-color: #feffff;
  max-width: 45.75rem;
  padding: 1rem;
  margin: 1rem auto;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow: auto;
}

.RecipeModal button {
  margin-left: auto;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: color 0.1s linear;
  outline: none;
}

.RecipeModal button:hover,
.RecipeModal button:focus,
.RecipeModal button:active {
  color: #3aafa9;
}

.RecipeModal form {
  width: 100%;
}

.RecipeModal label {
  margin-top: 1rem;
  display: inline-block;
  width: 100%;
}

.RecipeModal input,
.RecipeModal textarea {
  width: 100%;
  display: block;
  margin: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #17252a;
  outline: none;
  padding: 0.5rem 0;
  color: inherit;
  transition: all 0.3s;
}

.RecipeModal input:focus,
.RecipeModal input:active,
.RecipeModal textarea:focus,
.RecipeModal textarea:active  {
  border-bottom: 1px solid #3aafa9;
  box-shadow: 0 1px 0 0 #3aafa9;
}

.RecipeModal textarea {
  height: 8rem;
}

.RecipeModal .submit {
  background-color: #17252a;
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  color: #feffff;
  border-radius: 4px;
  transition: background 0.1s linear;
}

.RecipeModal .submit:hover,
.RecipeModal .submit:focus,
.RecipeModal .submit:active {
  background-color: #3aafa9;
  color: #feffff;
}

@media (max-width: 768px) {
  .RecipeModal .container {
    margin: 0;
    max-width: 100%;
    height: 100%;
  }
}
