.Modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #17252a;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal .content {
  background-color: #feffff;
  width: 45.75rem;
  max-width: 45.75rem;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 0.25rem;
  align-self: flex-start;
  overflow: auto;
}

.Modal .header {
  width: 100%;
  display: flex;
}

.Modal h2 {
  white-space: pre-line;
  word-wrap: break-word;
  hyphens: auto;
  overflow: auto;
}

.Modal .IconButton {
  margin-left: auto;
}

@media (max-width: 48em) {
  .Modal .content {
    margin: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
