.Header {
  background-color: #17252a;
  width: 100%;
  box-shadow: 0 0.3rem 1rem #2b7a78;
  color: #feffff;
}

.Header .content {
  max-width: 75rem;
  padding: 0 1rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.Header a {
  color: #feffff;
  text-decoration: none;
  transition: color 0.1s linear;
  outline: none;
}

.Header a:hover,
.Header a:focus {
  color: #3aafa9;
}

.Header .IconButton {
  margin-left: auto;
}
