.RecipeList {
  max-width: 75rem;
  margin: 1.5rem auto;
  width: 100%;
}

.RecipeList .row {
  width: 100%;
  padding: 0 0.5rem;
}

.RecipeList .row:after {
  display: table;
  content: '';
  clear: both;
}
